/* CUSTOM PROPS */

:root {
  --color-blue:#5267DF;
  --color-red:#FA5959;
  --color-text:#242A45;
  --color-text-75:rgba(36, 42, 69, 0.75);
  --color-text-50:rgba(36, 42, 69, 0.5);
  --color-gray:#9194A2;
}

/* FONTS */

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
      url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
      url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--color-text-50);
  font-family: "Rubik", "Arial", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */


/* BUTTON */

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  padding: 8px 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
}

.button:active {
  opacity: 0.6;
}

.button--red {
  background-color: var(--color-red);
  color: #fff;
}

.button--red:hover {
  border-color: var(--color-red);
  background-color: #fff;
  color: var(--color-red);
}

.button--blue {
  background-color: var(--color-blue);
  color: #fff;
}

.button--blue:hover {
  border-color: var(--color-blue);
  background-color: #fff;
  color: var(--color-blue);
}

.button--grey {
  background-color: #f7f7f7;
  color: var(--color-text);
}

.button--grey:hover {
  border-color:#5b6074;
  background-color: #fff;
  color: var(--color-text);
}

.button-block {
  display: block;
  width: 100%;
}


.button--site-header {
  padding: 10px 31px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}


/* LOGO */

.logo {
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo__img {
  display: block;
  width: 149px;
  height: 25px;
  object-fit: contain;
}


/* SITENAV */
.sitenav {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1.5px;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 48px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--color-text);
}

.sitenav__link:hover {
  color:var(--color-red);
}

.sitenav__link:active {
  opacity: 0.6;
}



/* SECTION */

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section__info {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 48px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  color: var(--color-text);
}

.section__description {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}


/* FEATURE-TAB-PANEL */
.feature-tab-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feature-tab-panel__img {
  margin-right: 15px;
  object-fit: contain;
}

.feature-tab-panel__img--simple {
  margin-right: 125px;
}

.feature-tab-panel__img--searching {
  margin-right: 118px;
}

.feature-tab-panel__img--sharing {
  margin-right: 146px;
}

.feature-tab-panel__info {
  width: 445px;
}

.feature-tab-panel__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 52px;
  font-weight: 500;
  color: var(--color-text);
}

.feature-tab-panel__text {
  font-size: 18px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 32px;
}


/* TABS */

.tabs__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs__item {
  width: 243px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: 4px solid transparent;
  color: var(--color-text-75);
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.tabs__item--active  .tabs__link {
  border-bottom: 4px solid #FA5959;
  color: var(--color-text);
}

.tabs__link:hover {
  color: var(--color-red);
}

.tabs__link:active {
  opacity: 0.6;
}


/* TABS-PANELS */

.tabs__panels {
  padding-top: 75px;
  padding-bottom: 165px;
  background-image: url(../img/blue-pill-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 580px) 156px;
}

.tabs__panel {
  display: none;
}

.tabs__panel--active {
  display: block;
}



/* SITE-HEADER */

.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
  text-transform: uppercase;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: auto;
}

.site-header__sitenav {
  margin-right: 48px;
}



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

/* HERO */

.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url(../img/blue-pill-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 705px) 200px;
}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 100%;
  max-width: 540px;
  margin-right: 65px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  color: var(--color-text);
}

.hero__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
}

.hero__actions {
  display: flex;
}

.hero__actions-item:not(:last-child) {
  margin-right: 16px;
}

.hero__img {
  flex-shrink: 0;
  width: 578px;
  height: 385px;
  object-fit: contain;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}


/* FEATURES */
.features__section-info {
  margin-bottom: 44px;
}





/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}